<% include header %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">This is Srikanth Yellamati</h1>
        <hr class="my-4">
      </div>
      <div class="about-content">
      <div >
          <div class="col-md-6 col-lg-6">
            <img src="images/srikanth.jpg" width="250" height="200" alt="my Profile">
          </div>
      </div>
      <div class="row">
            <p><b>YELLAMATI SRIKANTH</b><br>
              1121 N College Drive Mayville, MO 6468, <b>srikanth.vaf79@gmail.com,</b>
              GitHub<b> @srikanth559, Linden@ SrikanthYellamati.</b>
              </p>
              <p><b>EDUCATION:</b><br>
                <b>Master of Science in Applied Computer Science	Anticipated date 2019::</b><br>
                North West Missouri State University (NorthWest), Maryville, MO<br><br>
                <b>Bachelor of Technology in Computer Science::</b><br>
                Jawaharlal Nehru Technological University (JNT), Vijayawada, AP, India
                 </p>
              <p>
                <b>TECHINICAL SKILLS: </b><br>
                Programming Language: Java, HTML, C, C++, SQL, PL/SQL,
    
    
              </p>
              <p>
                <b>PROFESSIONAL WORK EXPERIACE: </b><br>
                I have worked as a system programmer in PhyCARE Services India Pvt.Ltd for
                18 months, Work duration: 2nd December 2016 till 6th July 2018.
    
              </p>
              <p>
                <b>
                  RELATIVE WORK EXPERIANCE:
                </b>
                <B>NorthWest, Marville, MO </B><BR>
                Developed Gpa Calculator as part of project work.<BR><br>
                <B>JNT, Vijayawada, AP, India</B><BR>
                Developed Movie Recommender System using Collaborative Filtering Technique.
                  
    
              </p>
              <p>
               <b>INTERESTS: </b>
                 Playing sports, listening music and watching movies.
              </p>
    </div>
  
    </div>
    </div>
    <% include footer %>